@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core 5.0</h1>
    <h2>Display Records From Database SQL Server</h2>
    <hr/>
    <center>
        <table border="1">
            <tr>
                <th>EmployeeKey</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
            @foreach(var item in Model.getrecords)
            {
                <tr>
                    <td>@item.EmployeeKey</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }
        </table>
    </center>
</div>
